{% extends "base.html" %}
{% block content %}
    <h2 align="center">The Beest Beer!</h2>
  

      <table class="table-responsive table-dark table-hover">
     
   {% for vot in object_list %}
    <tr>
           <td><h1 class="display-3">{{ vot.voto  }}</h1></td>
           <td> <img width="100" src="{{ vot.cerveza.foto.url }}" - {{ vot.pub  }}
           </td>
           <td>
            <br />
            
             <h2>Cerveza: {{ vot.cerveza  }}</h2>
            <h3>Pub: {{ vot.pub  }} en calle {{ vot.pub.direccion_pub  }}: </h3>  
            <p>Voto de: {{ vot.usuario }}</p>
        {% endfor %}
      
           </td>
      </tr>
    </table> 
{% endblock %}