{% load static %}
{% load analytical %}
{% load recaptcha3 %}


<!doctype html>
<html lang="en">
  <head>
  {% recaptcha_init %}
  {% recaptcha_ready action_name='home' %}

{% analytical_head_top %}
 <script src="https://www.google.com/recaptcha/api.js?render=6LfGk5YUAAAAAFVjuq7mr2VCq-0W4iVkbYc0_2zW"></script>
      <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function(token) {
            document.querySelectorAll('input.django-recaptcha-hidden-field').forEach(function (value) {
                value.value = token;
            });
            return token;         
          });
        });
      </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/beer.ico' %}">

    <title>{% block head_title %}{% endblock %}BEST-BEER</title>

 {% include "head_css.html" %}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://evaristo.duckdns.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://evaristo.duckdns.org/piwik.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
{% analytical_head_bottom %}



  </head>

  <body>
{% analytical_body_top %}


   {% include "navbar.html" %}
    <main role="main" class="container">
      <div class="jumbotron">

        <div class="container">
      <div class="row">
        {% block head %}{% endblock %}
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
      </div>
      <div align="center">
     <img width="88" src="{% static 'img/1.png' %}"/>
     <img width="88" src="{% static 'img/2.png' %}"/>
     <img width="88" src="{% static 'img/5.png' %}"/>
     <img width="88" src="{% static 'img/6.jpg' %}"/>
     <img width="88" src="{% static 'img/7.jpg' %}"/>
     <img width="88"src="{% static 'img/9.jpg' %}"/>
     <img width="88" src="{% static 'img/33.jpg' %}"/>
     <br />
     <br />
     <p align="center">Best-Beer V3.0 Alpha Edition</p>
          <img width="111" src="{% static 'img/giphy.gif' %}"/>
     <p align="center">© 2019 Evaristo R</p>
     </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/assets_js_vendor_popper.min.js' %}"></script>
    <script src="{% static 'js/dist_js_bootstrap.min.js' %}"></script>
  
{% analytical_body_bottom %}


  </body>
</html>

  

