{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Registro</h2>
  <form method="post">
    {% csrf_token %}
    <p>Usuario</p>
    {{ form.username }}

    <p>Primer Nombre</p>
    {{ form.first_name }}

    <p>Segundo Nombre</p>
    {{ form.last_name }}

    <p>email</p>
    {{ form.email }}

    <p>Contraseña (solo contraseñas seguras)</p>
    {{ form.password1 }}

     <p>Confirmación de Contraseña</p>
    {{ form.password2 }}

    <p></p>
    <p>{{ form.edadok }} Tengo más de 18 años</p>
    <p>{{ form.acepto }} Acepto los <a target="_blank" href="{% static 'html/terminos.html' %}"> términos y condiciones </a></p>

    <button type="submit">Enviar</button>
  </form>
{% endblock %}


