{% extends 'base.html' %}

{% block content %}
  <h2>Registro</h2>
  <form method="post">
    {% csrf_token %}
    <p>Usuario</p>
    {{ form.username }}

    <p>Primer Nombre</p>
    {{ form.first_name }}

    <p>Segundo Nombre</p>
    {{ form.last_name }}

    <p>email</p>
    {{ form.email }}

    <p>Localidad</p>
    {{ form.localidad }}

    <p>Estado Civil</p>
    {{ form.estado_civil }}

    <p>Contraseña (solo contraseñas seguras)</p>
    {{ form.password1 }}

     <p>Confirmación de Contraseña</p>
    {{ form.password2 }}


    <button type="submit">Enviar</button>
  </form>
{% endblock %}


