{% extends "base.html" %}
{% block content %}

{% csrf_token %}
    <h2>Pubs</h2>

<table class="table-responsive">
      {% for pub in object_list %}
       <tr>
       <td>
            <h2>{{ pub.nombre_pub  }} en 
            {{ pub.direccion_pub  }}</h2>
            <h5>Con las cervezas:</h5>
            <p> 
            {% for birra in pub.cerveza.all %}
            	{{ birra }} </p>
            
            {% endfor %} 
<a href="{% url 'pubs_update' pub.pk %}"><button>Modificar</button></a>
	<a href="{% url 'pubs_delete' pub.pk %}"><button>Eliminar</button></a>
        {% endfor %}

</td>
</tr>
</table>
{% endblock %}